#adminmenuwrap {
    position: sticky;
    left: 0;
    top: 32px;
    height: calc(100vh - 32px);
    direction: rtl; /* Pomakne scrollbar na levo! */
    overflow-y: auto;
}

#adminmenu {
    direction: ltr; /* Vsebino vrne v normalno smer */
}

/* Custom scrollbar za boljši izgled */
#adminmenuwrap::-webkit-scrollbar {
    width: 8px;
}
#adminmenuwrap::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}