:root {
    --gp-color-black: #000000;
    --gp-color-gray-1: #2B1100;
    --gp-color-gray-2: #512000;
    --gp-color-gray-3: #632801;
    --gp-color-gray-3-2: #784B2C;
    --gp-color-gray-4: #8D5027;
    --gp-color-gray-5: #C17E51;
    --gp-color-gray-6: #CC9E80;
    --gp-color-gray-7: #DFB490;
    --gp-color-gray-8: #E6C7AE;
    --gp-color-gray-9: #DEC8B7;
    --gp-color-gray-10: #F4E3D5;
    --gp-color-gray-11: #FFF5EF;
    --gp-color-gray-12: #FFF9F4;
    --gp-color-white: #FFFFFF;
    --gp-color-white-transparent-1: #FFFFFFB5;
    --gp-color-white-transparent-2: #FFFFFF78;
    --gp-color-white-transparent-3: #FFFFFF36;
    --gp-color-transparent: #FFFFFF00;
    --gp-color-transparent-gray-1: #5B5754E6;
    --gp-color-transparent-gray-2: #B7AFA7F5;
    --gp-color-transparent-gray-3: #B7AFA7D1;
    --gp-color-transparent-gray-4: #E7E2DD54;
    --gp-color-dark-red-1: #500D0D;
    --gp-color-dark-red-2: #893E3E;
    --gp-color-disabled: #A58483;
    --gp-color-sale-1: #CC7367;
    --gp-color-sale-2: #9B1E1AA3;
    --gp-color-sale-3: #B67777;
    --gp-color-asterix: #EB0000;
    --gp-color-background: #E7D7C9;
    --gp-color-section-bg: #F8E3D8;
    --gp-color-accent: #C54E00;

    
    --gp-color-brown-1: #6b381f;
    --gp-color-brown-2: #894b2d;
    --gp-color-brown-3: #7a3f2c;
    --gp-color-brown-4: #9e5e4a;
    --gp-color-brown-5: #edceab;
    --gp-color-brown-6: #e6b8a7;
    --gp-color-brown-7: #dfd3cd;
    --gp-color-brown-8: #ccbcb3;
    --gp-color-brown-9: #c9b8b0;
    --gp-color-teal-1: #1F6B63;
    --gp-color-teal-2: #B2DFDC;
    --gp-color-green-1: #28a745;
    --gp-color-green-2: #155724;
    --gp-color-green-3: #0f5132;
    --gp-color-green-4: #d1e7dd;
    --gp-color-green-5: #badbcc;
    --gp-color-green-6: #c3e6cb;
    --gp-color-green-7: #d4edda;
    --gp-color-red-1: #dc3545;
    --gp-color-red-2: #d9534f;
    --gp-color-red-3: #842029;
    --gp-color-red-4: #f8d7da;
    --gp-color-red-5: #f5c2c7;
    --gp-color-red-6: #721c24;
    --gp-color-red-7: #db9191;
    --gp-color-blue-1: #1976d2;
    --gp-color-blue-2: #e3f2fd;
    --gp-color-yellow-1: #ffc107;
    --gp-color-neutral-1: #f0f2f2;
    --gp-color-neutral-2: #e9ecef;
    --gp-color-neutral-3: #f8f9fa;
    --gp-color-neutral-4: #ddd;
    --gp-color-neutral-5: #ccc;
    --gp-color-neutral-6: #eee;
    --gp-color-neutral-7: #969292;
    --gp-color-neutral-8: #666666;
    --gp-color-neutral-9: #333333;
    --gp-color-neutral-10: #222222;
    --gp-color-aqua-1: #bcd5d3;
    --gp-color-black-a50: rgba(0,0,0,0.5);
    --gp-color-black-a30: rgba(0,0,0,0.3);
    --gp-color-black-a20: rgba(0,0,0,0.2);
    --gp-color-black-a15: rgba(0,0,0,0.15);
    --gp-color-black-a10: rgba(0,0,0,0.10);
    --gp-color-black-a07: rgba(0,0,0,0.07);
    --gp-color-shadow-gray: rgb(76 76 76);
}
