.gp-sidebar--overlay {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9990; /* Pod sidebar (9999) in pod advanced settings (9995) */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.gp-sidebar--overlay.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}